/*
    Followed Discussion 1 for some of these
 */
*{
    margin: 0;
}


#pagewrap{
    background-color: #f5f6f8;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


#navmain{
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

main{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: calc(1.7px + 1.5vw);
}

/*
Size my profile picture to reasonable size
 */
main img{
    width: 25%;
    height: 15%;
    max-width: 40%;
}

main *{
    margin: 2%;
}

nav{
    width: 22%;
    background-color: silver;
}

nav ul{
    margin: 0;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;
    height: 100%;
}

nav li{
    border: none;
    margin: 30px auto;
    padding: 15px 0;
    text-align: center;
    width: 100%;
}

nav a{
    color: whitesmoke;
    font-size: calc(2px + 2vw);
}

header{
    background-color: lightgray;
    padding: 20px;
    text-align: left;
}

header h1{
    margin: 0;
}

header p{
    margin: 0;
    font-size: calc(1.2px + 1.2vw);
}

footer{
    text-align: center;
    background-color: lightgray;
    width: 100%;
    padding: 10px 0;
    font-size: calc(1.2px + 1.2vw);
}

/*
Edu section
 */


.edusections{
    padding: 30px 0;
    border-bottom: 3px solid black; /*Creates line under my section wrapped in div*/
}

.csclasses{
    font-size: calc(4px + 1.5vw);
}

#econclasses{
    font-size: calc(4px + 1.5vw);
}


/*
Skills section
 */

#skillsmain{
    padding: 30px 0;
    margin: 0 auto;
}

.skills{
    font-size: calc(4px + 1.5vw);
}

/*
Experience Section
 */

.expbio{
    font-size: calc(4px + 1.5vw);
}

.expsections{
    padding: 30px 0;
    border-bottom: 3px solid black; /*Creates line under my section wrapped in div*/
}


/*
Extracurricular Section
 */

.extrasections{
    padding: 30px 0;
    border-bottom: 3px solid black; /*Creates line under my section wrapped in div*/
}

.extrabio{
    font-size: calc(4px + 1.5vw);
}

/*
Project Section
*/

#outputlabel{
    display: inline;
    text-align: center;
}

#output{
    display: inline;
    text-align: center;
}

.buttons{
    width: calc(50px + 1vw);
    height: calc(45px + 1vw);
    font-size: calc(1.2px + 1.2vw);
    font-weight: bold;
    background-color: white;
}

.inputnumber{
    width: calc(150px + 1vw);
    height: calc(50px + 1vw);
    font-size: calc(1.2px + 1.5vw);
    border: 2px solid black;
}

#buttonsection1{
    display: block;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
}

#buttonsection2{
    display: block;
    text-align: center;
    padding-bottom: 30px;
}

#calculatorcontainer{
    border: 2px solid black;
    width: calc(400px + 1vw);
    height: calc(500px + 1vw);
    margin: 30px auto;
    padding-top: 30px;
    background-color: lightgray;

}

#projectbio{
    margin: 30px auto;
}

.inputlabel{
    font-size: calc(1.2px + 1.2vw);
    text-align: center;
}

#inputrow{
    display: flex;
    justify-content: center;
}

@media  screen and (max-width: 1000px) {
    #navmain{
        flex-direction: column;
    }

    nav, main{
        width: 100%;
    }
    main img{
        max-width: 40%;
        height: 30%;
    }
    main p{
        text-align: center;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    nav li{
        display: inline;
        margin: 5px;
        width: auto;
    }

    nav a{
        display: inline-block;
        padding: 5px 5px;
    }

    header{
        text-align: center;
    }

    main{
        min-height: 100vh;
    }

    header p{
        font-size: calc(2px + 2vw);
    }

    footer{
        text-align: center;
    }
}






